<!--<%@ page language="java" pageEncoding="UTF-8"%>-->
<!--数据管理-->
<div>
    <div class="structure_div">
        <ul id="structureul" class="structure_ul"></ul>
    </div>
    <div class="allwidth_pb_label">
        <label>学校数量：</label><span id="schoolNumber">11所</span>
        <label>学生人数：</label><span id="studentNumber">8000人</span>
        <div class="float-right">
            <button class="default_btn" onclick="DATAMANAGEMENT.batchImport()">批量导入</button>
        </div>
    </div>
    <!--数据管理表-->
        <article>
            <div class="pading_table">
                <table class="table_datas" id="datatable_data">
                    <thead>
                        <tr>
                            <th>学校编号</th>
                            <th>学校名称</th>
                            <th>人数</th>
                            <th>数据导入情况</th>
                            <th>分析状态</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="center_button_div">
                <button class="default_btn" onclick="DATAMANAGEMENT.open_examAnalytical()">分析</button>
                <button class="default_btn anti_btn clicked close_btn" onclick="DATAMANAGEMENT.open_clearAnalytical()">清空</button>
            </div>
        </article>
</div>
<!--分析窗口-->
<script type="text/html" id="analyticalTemplate">
    <div class="allwidth_pb_label">
        选择要分析的学校 <label><input type="checkbox" id="schoolAnalyticalAllchecked" />全选</label>
    </div>
    <ul id="schoolAnalytical" class="schoolAnalyticalUl">
        {{each model}}
            <li><label><input type="checkbox" value="{{$value.code}}" />{{$value.name}}</label></li>
        {{/each}}
    </ul>
    <div class="allwidth_pb_label">
        选择您要进行考试分析的学科 <label><input type="checkbox" id="examAnalyticalAllchecked" />全选</label>
    </div>
    <ul id="examUl" class="examAnalyticalUl">
        {{each subjectModel}}
            <li>
                <label><input type="checkbox" value="{{$value.subjectCode}}" />{{$value.subjectName}}</label> {{$value.title}}
                {{if $value.state==true}}<span class="correct">已分析</span>{{else}}<span class="error">未分析</span>{{/if}}
            </li>
        {{/each}}
    </ul>
</script>
<!--清空窗口-->
<script type="text/html" id="clearTemplate">
    <div class="allwidth_pb_label">
        选择要清空的学校 <label><input type="checkbox" id="schoolAnalyticalAllchecked" />全选</label>
    </div>
    <ul id="schoolAnalytical" class="schoolAnalyticalUl">
        {{each model}}
            <li><label><input type="checkbox" value="{{$value.code}}" />{{$value.name}}</label></li>
        {{/each}}
    </ul>
    <div class="allwidth_pb_label">
        <label><input type="checkbox" id="" />清空导入数据</label> <label><input type="checkbox" id="" />清空分析结果</label> <label><input type="checkbox" id="examAnalyticalAllchecked" />全选</label>
    </div>
    <ul id="examAnalytical" class="examAnalyticalUl">
        {{each subjectModel}}
            <li>
                <label><input type="checkbox" value="{{$value.subjectCode}}" />{{$value.subjectName}}</label> {{$value.title}}
                {{if $value.state==true}}<span class="correct">已分析</span>{{else}}<span class="error">未分析</span>{{/if}}
            </li>
        {{/each}}
    </ul>
</script>