<!--<%@ page language="java" pageEncoding="UTF-8"%>-->
<!--结构管理-->
<div>
    <div class="structure_div">
        <ul id="structureul" class="structure_ul"></ul>
    </div>
    <div class="structure_div">
        <label>试卷名称：</label><span class="wid_span20" id="examName"></span>
        <label>试卷编号：</label><span class="wid_span20" id="examcode"></span>
        <label>总分：</label><span id="examTotal"></span>
    </div>
    <div class="structure_div">
        <label>数据来源：</label>
        <span>
            <label><input type="radio" name="source" />网阅同步</label>
            <label><input type="radio" name="source" checked />手动上传</label>
        </span>    
    </div>
    <div class="structure_div t_r">
			<button class="width_btn blue_btn" onclick="STRUCTUREMANAGEMENT.structure_import()"><i class="iconfont icon-shitiguanli"></i>导入</button>
			<button class="width_btn green_btn" onclick="STRUCTUREMANAGEMENT.structure_export()"><i class="iconfont icon-shitiguanli"></i>导出</button>
			<button class="width_btn red_btn" onclick="STRUCTUREMANAGEMENT.structure_clear()"><i class="iconfont icon-shitiguanli"></i>删除分析结构</button>
	</div>
    <div class="oveflowy">
        	<table class="structure_table" id="netExamItem">
            </table>
	</div>
    <div class="center_button_div"><button class="width_btn green_btn" onclick="STRUCTUREMANAGEMENT.save_structure()">保存分析结构</button><button id="importDataButton" class="width_btn blue_btn" onclick="STRUCTUREMANAGEMENT.onImportDataOK()" style="display: none;">导入分数</button><button class="default_btn anti_btn clicked close_btn hidden" onclick="Men.close_window()">关闭</button></div>
</div>
<!--表格-->
<script type="text/html" id="paper_item_template">	
	<thead>
   		<tr>
        	<th>网阅<br>编号</th>
           	<th>内部<br>编号</th>
            <th>卷面<br>编号</th>
            <th>试题类别</th>
            <th>卷面题型</th>
            <th>分数</th>
            <th>知识点</th>
            <th>能力点</th>
            <th>分卷</th>
            <th>客观题<br>答案</th>
            <th>选择题<br>选项</th>
            <th>是否<br>特殊题</th>
         </tr>
	 </thead>
     <tbody id="structure_tbody">
	 {{each data item}}
 		<tr>
			<td>
				<input type="hidden" class="itemCode" value="{{item.itemCode}}"/>
				<input type="hidden" class="netExamNo" value="{{item.netExamNo}}"/>
				<input type="hidden" class="netExamPicNo" value="{{item.netExamPicNo}}"/>
				{{item.netExamNo}}
			</td>
           	<td><input class="questionNo form-control form-control-sm filter_region" type="text" size="4" value="{{if (0==item.childNo)}}{{item.questionNo}}{{else}}{{item.questionNo}}-{{item.childNo}}{{/if}}"></input></td>
			<td><input class="scoreNo form-control form-control-sm filter_region" type="text" size="4" value="{{item.scoreNo}}" ></input></td>
            <td>
				<select class="default_select type" onchange="STRUCTUREMANAGEMENT.on_change_type(this, '{{item.netExamNo}}')">
					{{each types type}}
						<option value="{{type.code}}" {{if (type.code==item.type.code) }}selected{{/if}}>{{type.name}}</option>
					{{/each}}
				</select>
			</td>
            <td>
				<select class="default_select category">
					<option value="">无类别</option>	
					{{each categorys category}}
						<option value="{{category.code}}" {{if ((item.category) && (category.code==item.category.code)) }}selected{{/if}}>{{category.name}}</option>
					{{/each}}	
				</select>
			</td>
            <td>
				<input class="score" type="hidden" value="{{item.score}}" />
				{{item.score/100}}
			</td>
            <td><input class="kps form-control form-control-sm filter_region" type="text" value="{{item.kpCodes}}"></input></td>
            <td><input class="aps form-control form-control-sm filter_region" type="text" value="{{item.apCodes}}"></input></td>
            <td>
				<select class="section default_select">
					<option value=''>不分卷</option>
					<option value='A' {{if (item.section == 'A')}}selected{{/if}}>A卷</option>
					<option value='B' {{if (item.section == 'B')}}selected{{/if}}>B卷</option>
					<option value='C' {{if (item.section == 'C')}}selected{{/if}}>C卷</option>
					<option value='D' {{if (item.section == 'D')}}selected{{/if}}>D卷</option>
					<option value='E' {{if (item.section == 'E')}}selected{{/if}}>E卷</option>
					<option value='F' {{if (item.section == 'F')}}selected{{/if}}>F卷</option>
				</select>
			</td>
            <td>
				{{if ('C' == item.type.code) }}
					<input class="answer answer_{{item.netExamNo}} form-control form-control-sm filter_region" type="text" size="4" value="{{item.answer}}" ></input>
				{{else}}
					<input style="display:none" class="answer answer_{{item.netExamNo}} form-control form-control-sm filter_region" type="text" size="4" value="" ></input>
				{{/if}}
			</td>
            <td>
				{{if ('C' == item.type.code) }}
					<input class="choice choice_{{item.netExamNo}} form-control form-control-sm filter_region" type="text" size="4" value="{{item.choices}}" ></input>
				{{else}}
					<input style="display:none" class="choice choice_{{item.netExamNo}} form-control form-control-sm filter_region" type="text" size="4" value="{{item.choices}}" ></input>
				{{/if}}
			</td>
            <td><input class="isSpecial"  type="checkbox" {{if ("1" == item.isSpecial)}}checked{{/if}}></td>
    	</tr>
	{{/each}}
		</tbody>
</script>