$first-color=#3e9ffe
$second-color=#2b94fd
$third-color=#566fc9
$four-color=#3cb878
$fifth-color=#808080
$border-color=#ddd
$fonts-color=#333


.red-color{color:#f00;}
.green-color{color:$four-color;}
.first-color{color:$first-color}