<!--<%@ page language="java" pageEncoding="UTF-8"%>-->
<!--教辅章节-->
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 content_style_div">
    <div><span class="first-color">作业分析>教辅作业></span><span id="title_span"></span></div>
    <h5 class="title_h" id="title_h"></h5>
    <div class="flex_between"><span>学科：<span id="subject_span"></span></span>
        <div>
            <button class="default_btn" onclick="job_chapters.import_price_window()">批量导入作业数据</button>
        </div>
    </div>
    <div class="pading_table">
        <div class="dataTables_wrapper no-footer">
            <table id="chaptersTable" class="table_datas dataTable no-footer">
                <thead>
                    <tr>
                        <th>章节卷面编号</th>
                        <th>章节名称</th>
                        <th>作业结构</th>
                        <th>数据导入情况</th>
                        <th>分析状态</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>
<!--教辅章节表格模板-->

<script type="text/html" id="chaptersTableTemplate">
    {{each model list}}
        <tr>
            <td>{{list.paperName}}</td>
            <td>{{list.paperTitle}}</td>
            <td> </td><td> </td><td> </td><td> </td>
        </tr>
        {{each list.children}}
            <tr>
                <td>{{$value.codeName}}</td>
                <td>{{$value.name}}</td>
                <td>{{if $value.task == true}}<span>已导入</span>{{else if $value.task == false}}<span class="red-color">未导入</span>{{/if}}</td>
                <td>{{if $value.importClass}}<span>{{$value.importClass}}个班</span><br/>{{/if}}{{if $value.importPeople}}<span>{{$value.importPeople}}人</span>{{/if}}</td>
                <td>{{if $value.anaylzedClass}}<span>{{$value.anaylzedClass}}个班</span><br/>{{/if}}{{if $value.analyzed == true}}<span>已分析</span>{{else if $value.analyzed == false}}<span class="red-color">未分析</span>{{/if}}</td>
                <td>
                    <button class="default_btn_small green_btn" onclick="job_chapters.structureManagement('{{$value.code}}')">结构管理</button>
                    <button class="default_btn_small" onclick="job_chapters.operationData('{{$value.code}}')">作业数据</button>
                    <button class="default_btn_small yellow_btn" onclick="job_chapters.analysis_open('{{$value.code}}','{{$value.codeName}}','{{$value.name}}')">分析</button>
                    {{if $value.importClass || $value.importPeople}}<button class="default_btn_small red_btn" onclick="job_chapters.clear_open('{{$value.code}}')">清空</button>{{/if}}
                </td>
            </tr>
        {{/each}}
    {{/each}}
</script>
<!--分析窗口模板-->
<script type="text/html" id="analysis_template">
    <div class="allwidth_pb_label t_c" id="title_Div"></div>
    <div>
        <div class="analysis_win"><label style="padding-left:.4rem"><input type="checkbox" id="all_checkbox" />全选</label>
        <ul>
            {{each model}}
                <li class="flex_around"><div><label><input type="checkbox" /> {{$value.subject}}</label>&emsp;&emsp;{{$value.task_name}}</div> <span class="red-color">{{$value.analysis}}</span></li>
            {{/each}}
        </ul>
        </div>    
    </div>
</script>