
<div class="container-wrap">
	<div class="aly-filters">
		<div class="aly-filter">
			<strong>考试类型</strong>
			<ul id="examType">
				<li class="active" data-id="0">全部</li>
				<li data-id="1"><i class="icon-stop" style="color:#0c6"></i>
					单元测试</li>
				<li data-id="2"><i class="icon-stop" style="color:#57B5E3"></i>
					月考</li>
				<li data-id="3"><i class="icon-stop" style="color:#FCB322"></i>
					模拟考</li>
				<li data-id="4"><i class="icon-stop" style="color:#f66"></i>
					期中考试</li>
				<li data-id="5"><i class="icon-stop" style="color:#A248B6"></i>
					期末考试</li>
				<li data-id="6"><i class="icon-stop" style="color:#34495E"></i>
					期初考试</li>
			</ul>
		</div>
		<div class="aly-filter">
			<strong>年级</strong>
			<ul id="gradeType">
				<!-- 根据学校类型进行动态切换 -->
				<li class="active" data-id="0">全部</li>
				<li data-id="1">一年级</li>
				<li data-id="2">二年级</li>
				<li data-id="3">三年级</li>
				<li data-id="4">四年级</li>
				<li data-id="5">五年级</li>
				<li data-id="6">六年级</li>
				<li data-id="7">七年级</li>
				<li data-id="8">八年级</li>
				<li data-id="9">九年级</li>
				<li data-id="10">高一年级</li>
				<li data-id="11">高二年级</li>
				<li data-id="12">高三年级</li>
			</ul>
		</div>
	</div>
	<div id="orgsAlyExams"></div>
</div>

<script type="text/plain" id="orgsAlyExamsListTemplate">
<ul class="explain">
<li><i class="lump lump-primary"></i>已上传试卷结构</li>
<li><i class="lump lump-success"></i>已上传总分</li>
<li><i class="lump lump-danger"></i>已上传详分</li>
<li><i class="lump lump-warning"></i>已上传客观题作答</li>
</ul>
<div class="row">
        {{each data item}}
        <div class="col-md-3 col-sm-4">
            <div class="card card-reset">
                <div class="card-header">
                    <h3 class="card-title">{{item.examination.examName}}</h3>
                    <p class="examId">(考试ID:{{item.examination.examCode}})</p>
                    <p class="exam-card-classes-count">
                        {{if item.examWl==0}}全科{{/if}} {{if item.examWl==1}}语文{{/if}} {{if item.examWl==2}}数学{{/if}} {{if item.examWl==3}}英语{{/if}} {{if item.examWl==4}}物理{{/if}} {{if item.examWl==5}}化学{{/if}} {{if item.examWl==6}}历史{{/if}} {{if item.examWl==7}}地理{{/if}} {{if item.examWl==8}}政治{{/if}} {{if item.examWl==9}}生物{{/if}}
                        <i class="icon-group"></i>{{item.examination.grade.name}}{{item.examination.examDate | dateFormat 'yyyy-MM-dd'}}</p>
                </div>
                <div class="card-body">
                    {{include 'orgExamUploadListTemplate' item}}
                </div>
                <div class="card-footer" data-id="{{item.examination.examCode}}" data-grade-nane="{{item.examination.grade.name}}">
					<!-- 
                    <a onclick="ORGS.onClickOrgsScore(this)"><i class="iconfont icon-tuichu mb-1"></i> 总分</a>
					-->
                    <a onclick="ORGS.onClickOrgsDetails(this)"><i class="iconfont icon-tuichu mb-1"></i> 分数</a>
                    <a onclick="ORGS.onClickOrgsSelect(this)"><i class="iconfont icon-tuichu mb-1"></i> 客观题</a>
					<a onclick="ORGS.onClickOrgsAnswer(this)"><i class="iconfont icon-tuichu mb-1"></i> 调分</a>
                    <a onclick="ORGS.onClickOrgsAnalysis(this)"><i class="iconfont icon-xueshengduantongji mb-1"></i> 分析</a>
                    <a onclick="ORGS.onClickOrgsClear(this)"><i class="iconfont icon-shanchu mb-1"></i> 清空</a>
                </div>
            </div>
        </div>
        {{/each}}
</div>
    </script>
	<script type="text/plain" id="orgExamUploadListTemplate">
        <ul class="anly-xk">
            {{each examinationStatus item}}
			{{if item.analyzeStatus == 1}}<img class="is-anly" src="../assets/img/pass.png"> {{/if}}
            {{if examinationStatus.length < 3}} <li class="li-lg" title="{{item.paper.paperName}}"><svg width="100%" height="100%" viewBox="0 0 200 200">
                <circle cx="100" cy="100" r="75" stroke-width="30" {{if item.detailScoreStatus == 1}} stroke="#FF3852" {{else}} stroke="#ccc" {{/if}} {{if item.paper.itemStatus == true}} fill="#428BCA" {{else}} fill="#fff" {{/if}} ></circle>
                <circle cx="100" cy="100" r="75" stroke-width="30" {{if item.totalScoreStatus == 1}} stroke="#60CF66" {{else}} stroke="#ccc" {{/if}} fill="none" stroke-dasharray="310"></circle>
                <circle cx="100" cy="100" r="75" stroke-width="30" {{if item.answerStatus == 1}} stroke="#F79B04" {{else}} stroke="#ccc" {{/if}} fill="none" stroke-dasharray="160 400"></circle>
                <text x="50%" y="50%" dy=".3em" {{if item.paper.itemStatus == true}} fill="#fff" {{else}} fill="#000" {{/if}}  font-size="50">{{item.paper.subject.name}}</text>
            </svg></li>
            {{else}}<li title="{{item.paper.paperName}}"><svg width="100%" height="100%" viewBox="0 0 200 200">
               <circle cx="100" cy="100" r="75" stroke-width="30" {{if item.detailScoreStatus == 1}} stroke="#FF3852" {{else}} stroke="#ccc" {{/if}} {{if item.paper.itemStatus == true}} fill="#428BCA" {{else}} fill="#fff" {{/if}} ></circle>
                <circle cx="100" cy="100" r="75" stroke-width="30" {{if item.totalScoreStatus == 1}} stroke="#60CF66" {{else}} stroke="#ccc" {{/if}} fill="none" stroke-dasharray="310"></circle>
                <circle cx="100" cy="100" r="75" stroke-width="30" {{if item.answerStatus == 1}} stroke="#F79B04" {{else}} stroke="#ccc" {{/if}} fill="none" stroke-dasharray="160 400"></circle>
                <text x="50%" y="50%" dy=".3em" {{if item.paper.itemStatus == true}} fill="#fff" {{else}} fill="#000" {{/if}}  font-size="50">{{item.paper.subject.name}}</text>
            </svg></li>{{/if}}
        {{/each}}
        </ul>
    </script>
	<script type="text/plain" id="orgsImportDataTemplaet">
        <div class="form-group">
            <select class="form-control form-control-sm" id="subject">
                {{each examinationStatus item}}
                <option value="{{item.paper.paperCode}}">{{item.paper.subject.name}}   {{item.paper.paperName}}</option>
                {{/each}}
            </select>
        </div>
        <div class="form-files">
            <div id="error_info"></div>
            <input type="file" id="import_excel" name="file" class="dropify-fr" data-default-file="" multiple="multiple" accept="application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
        </div>
    </script>
	<script type="text/plain" id="orgsAnalysisTemplate">
        <p class="mb-3">请选择您要进行考试分析学科</p>
        <div class="form-group text-left" id="orgsAnySubject">
			<div class="form-check mb-2">
                <input class="form-check-input" type="checkbox" id="orgsAllAny" style="top: -5px;">
                <label class="form-check-label" for="orgsAllAny">全选</label>          
			</div>
            {{each examinationStatus item}}
            <div class="form-check mb-1">
                <input class="form-check-input" type="checkbox"  name="subjects" id="subjectChickbox{{item.paper.paperCode}}" value="{{item.paper.paperCode}}" style="top: -5px;">
                <label class="form-check-label" for="subjectChickbox{{item.paper.paperCode}}">{{item.paper.subject.name}}</label>
                <p class="float-right">{{item.paper.paperName}}</p> 
            </div>
            {{/each}}
        </div>
    </script>
    <script type="text/plain" id="orgsClearTemplaet">
		<div class="form-group" id = "clearZT">
			<div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox"  name="ZT" value="1" id="orgsClear1">
                <label class="form-check-label" for="orgsClear1">清空导入数据</label>          
			</div>
			<div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="ZT" value="2" id="orgsClear2">
                <label class="form-check-label" for="orgsClear2">清空分析结果</label>          
			</div>
		</div>
		<hr>
		<div class="form-group text-left" id="orgsClearSubject">
			<div class="form-check mb-2">
                <input class="form-check-input" type="checkbox" id="orgAllClear" style="top: -5px;">
                <label class="form-check-label" for="orgAllClear">全选</label>          
			</div>
           {{each examinationStatus item}}
           <div class="form-check mb-1">
               <input class="form-check-input" type="checkbox" name="subjects" id="subjectChickbox{{item.paper.paperCode}}" value="{{item.paper.paperCode}}" style="top: -5px;">
               <label class="form-check-label" for="subjectChickbox{{item.paper.paperCode}}">{{item.paper.subject.name}}</label>
			<p class="float-right">{{item.paper.paperName}}</p>            
			</div>
           {{/each}}
        </div>
    </script>